.clarifier {
  background-color: #FFF036;
  display: inline;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto; }

.box {
  width: 100%;
  overflow: hidden; }

.centered {
  text-align: center; }

.box:not(:first-of-type) {
  padding-top: 20px;
  border-top: 1px solid #E9E7E8;
  margin-top: 20px; }

.wide-box:not(:first-of-type) {
  border-top: 1px solid #E9E7E8; }

.wide-box:not(:first-of-type):nth-child(2) p {
  padding-top: 20px; }

.wide-box:not(:first-of-type):nth-child(2) p.byline {
  padding-top: 0px; }

.box p.title, .wide-box p.title {
  font-weight: bolder;
  color: #4C4E4D;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 16px;
  margin-top: 0px; }
  .box p.title:hover, .wide-box p.title:hover {
    color: #333;
    cursor: pointer; }

.box p, .wide-box p {
  margin-top: 10px;
  color: #4C4E4D;
  font-size: 12px;
  font-weight: light;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; }

.box p.byline, .wide-box p.byline {
  font-style: italic;
  font-family: serif; }

.feature-img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px; }

.float-right {
  float: right;
  height: 100%;
  width: auto; }

p.second-headline {
  font-family: serif;
  font-size: 20px;
  font-style: italic;
  font-color: #4C4E4D; }

.wide-box {
  width: 100%;
  overflow: hidden;
  height: 200px;
  margin-bottom: -35px;
  margin-top: -25px; }

.wide-box img {
  height: auto;
  width: 220px;
  float: left;
  margin-right: 20px; }

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px; }

h1 {
  color: #4C4E4D;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: bolder;
  text-align: center;
  margin-top: 10px; }

header {
  width: 100%;
  height: 65px;
  background-color: #F4F4F4;
  top: 0px;
  left: 0px;
  margin: 0px;
  justify-content: center;
  display: flex; }

section {
  display: flex;
  justify-content: center; }

.nav-bar-contents {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.nav-bar {
  font-weight: bold;
  display: flex; }

.nav-bar ul {
  width: 800px;
  justify-content: space-between; }

.nav-bar li {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 11px;
  font-weight: 800;
  color: #555;
  display: inline-block;
  margin: 0px 0px 0px 50px; }
  .nav-bar li:hover {
    color: #333;
    cursor: pointer; }

#logo {
  height: 90px;
  transform: translateY(12px);
  padding-right: 50px; }

.container {
  display: flex;
  justify-content: center; }

.title-bar, .the-latest-title-bar {
  margin-top: 40px;
  width: 1000px;
  height: 50px;
  border: 4px solid #FFF036;
  border-bottom: none;
  display: flex;
  justify-content: center; }

.title-bar-title, .latest-bar-title, .video-title {
  color: #4C4E4D;
  font-style: italic;
  font-size: 24px;
  font-weight: bolder;
  background-color: #FFF;
  padding: 15px;
  transform: translateY(-30px); }

.latest-bar-title {
  padding-left: 0px;
  transform: translate(0px, -30px); }

.video-title {
  padding-right: 350px;
  padding-top: 45px;
  padding-left: 35px;
  margin-bottom: -75px;
  transform: translate(-30px, -75px); }

.top-stories-grid {
  display: flex;
  justify-content: center;
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-20px); }
  .top-stories-grid::after {
    clear: both;
    content: "";
    display: block; }

.top-stories-item {
  width: calc(25% - 25px);
  float: left;
  margin-left: 20px; }

.left-item {
  margin-left: 0; }

.top-stories-feature {
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px; }

.the-latest-title-bar {
  border-left: none;
  border-right: none;
  width: 940px;
  justify-content: left;
  margin-left: auto;
  margin-right: auto; }

.more-stories-grid {
  display: flex;
  width: 980px;
  margin-left: auto;
  margin-right: auto; }
  .more-stories-grid::after {
    clear: both;
    content: "";
    display: block; }

.latest-stories-item {
  width: calc(66.6666666667% - 33.3333333333px);
  float: left;
  margin-left: 20px;
  margin-bottom: 0px;
  flex-direction: column; }

.video-grid {
  width: calc(33.3333333333% - 26.6666666667px);
  float: left;
  margin-left: 20px; }

.video-item {
  margin-bottom: 25px;
  background: url("../img/sleep.jpg");
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .video-item:hover {
    cursor: pointer; }
  .video-item img {
    height: 50px; }

/*# sourceMappingURL=styles.css.map */
